[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
prefect-gcp = {version = "==0.2.4", extras = ["cloud_storage"]}
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
